<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
Hello world
<form  th:action="@{/logout}" th:method="POST">
<!--    th:action определит адрес на который будет отправлен запрос при отправке формы через кнопку снизу
при помощи метода POST будет отправлен этот самый запрос. POST обычно используется для отправки данных на сервер-->
    <input type="submit" value="Logout button">
</form>


<!--<a href="/logout"></a>-->

<!--дефолтный logout =>  <a> указывает просто что это ссылка, но при включенной csrf будет требование что по ссылке
метод не работает-->
</body>
</html>